*.c
data/

# Build artifacts
vieter
dvieter
pvieter
suvieter
afvieter
vieter.c

# Ignore testing files
*.pkg*

vieter.log

# External lib; gets added by Makefile
libarchive-*
test/

# V compiler directory
v/

# gdb log file
gdb.txt

# Generated docs
_docs/
